body{
    background-color: rgb(86, 141, 197);
}
.par{color: #fff;
align-items: center;
font-size: 2rem;
padding:  49px 200px;}
.eyu{
    color: black;
    align-items: center;
    font-size: 4rem;
    padding: 70px 200px;
}
#nav-menu{
    background-color: rgb(238, 124, 2);
    background-position: 2rem;
    display: flex;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 25px 35px;
    justify-content: space-between;
    align-items: center;
    font-weight: 5rem;
    font-size: larger;
    text-decoration: none;
font-style:normal;
font-family: Georgia, 'Times New Roman', Times, serif;
box-shadow: black;
box-shadow: goldenrod;
}
.menu-items a{
    color: #fff;
    text-decoration: none;
    padding: 10px 43px;
    transition: background-color 0.3s ease;
}
.menu-items a:hover{
    background-color: aqua;
    color: blueviolet;
}
:hover.logo{
    text-decoration: none;
    box-shadow: black;
    color: chartreuse;
}
